.git
.gitea
.vscode
backups
config
logs
.gitignore
*.bak
*.tar
*.json
.env*
!.env.example
config.inc.php
config.tmp.php
data
syncmarks.db
syncmarks.sqlite
*.sqlite
*.sqlite3
tmp
temp
*.tmp
*.temp
*~
.DS_Store
Thumbs.db